<a href="https://colab.research.google.com/github/mayurijoshi106/mayuri_INFO5731_spring2020/blob/master/INFO5731_Assignment_One_MJ.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **INFO5731 Assignment One**

# Question 1

(20 points). Write a Python program to generate 12 random numbers between 1 and 100. Sort the list of numbers in ascending order and print it out. Sort the list of numbers in descending order and print it out. Calculate the average for the group and print it out.

In [0]:
import random 
  
def Rand(start, end, num): 
    res = [] 
    desc = []
    for j in range(num): 
        res.append(random.randint(start, end))
        res.sort()
    print("List of random numbers in ascending order =", res)
    desc = Cloning(res)
    print("List of random numbers in descending order =", desc)
    average = Average(res)
    print("Average for the group =", round(average, 2)) 

def Cloning(res): 
    res_copy = res[:] 
    res_copy.reverse()
    return res_copy   

def Average(res): 
    return sum(res) / len(res) 

num = 12
start = 20
end = 40
Rand(start, end, num)

List of random numbers in ascending order = [24, 24, 25, 26, 27, 27, 29, 29, 31, 32, 34, 37]
List of random numbers in descending order = [37, 34, 32, 31, 29, 29, 27, 27, 26, 25, 24, 24]
Average for the group = 28.75

# Question 2
(25 points). Write a program that will do the following string formatting tasks:

(1) Ask the user to enter two sentences.

(2) Make each sentence into a list. Each element in the list should correspond to a word in the sentence. For example, if the sentence is "Alas! Am I alive? This is my first python program", the program should print out ['Alas, '!', 'Am', 'I', 'alive, '?', 'This', 'is', 'my', 'first', 'python', 'program'].

(3) Compare the two sentences. Print out a list of words that occur in both sentences.

(4) Remove any punctuation from the sentence and print it back out. It should remove at least the following characters, but it can remove more: period(“.”), comma (“,”), semicolon (“;”), and colon (“:”)

(5) Count the number of vowels in the sentences. Print out each vowel and the number of times it appears in the sentences, such as: a:2, e:1, i:0, etc

In [104]:
FirstSentence = input('Enter the First Sentence :')
First= FirstSentence.split()
print(First)
SecondSentence = input('Enter the Second Sentence :')
Second= SecondSentence.split()
print(Second)
un = set(First).intersection(Second)
print(un)
Vowels = '''AEIOUaeiou'''
Punctuation = '''@?!#$%^&*:;"',.|\~`'''
vow_aA = '''aA'''
count_A = 0
vow_eE = '''eE'''
count_E = 0
vow_iI = '''iI'''
count_I = 0
vow_oO = '''oO'''
count_O = 0
vow_uU = '''uU'''
count_U = 0
counter = 0
str = ''.join(un)
for char in str: 
    if char in Punctuation: 
        str=str.replace(char,"")
print('Sentence wihtout Punctuation:',str)
for char in str:
    if char in vow_aA:
        count_A = count_A + 1
    if char in vow_iI:
        count_I = count_I + 1
    if char in vow_eE:
        count_E = count_E + 1
    if char in vow_oO:
        count_O = count_O + 1
    if char in vow_uU:
        count_U = count_U + 1
if(count_A):
    print('a:',  count_A)
if(count_E):
    print('e:',  count_E)
if(count_I):
    print('i:',  count_I)
if(count_O):
    print('o:',  count_O)
if(count_U):
    print('u:',  count_U)

Enter the First Sentence :Hello, good morning! my name is mayuri joshi.
['Hello,', 'good', 'morning!', 'my', 'name', 'is', 'mayuri', 'joshi.']
Enter the Second Sentence : Hi, good morning! my name is mayuri
['Hi,', 'good', 'morning!', 'my', 'name', 'is', 'mayuri']
{'morning!', 'my', 'good', 'mayuri', 'name', 'is'}
Sentence wihtout Punctuation: morningmygoodmayurinameis
a: 2
e: 1
i: 3
o: 3
u: 1

# Question 3 

(15 points). The formula that describes the volume V of a sphere with radius r is the following:

$ V=\frac{4}{3}\ast\ \pi\ast\ r^3 $

Write a program to calculate the value of V when r is in the range of 1–10. Output the result in the following format:

	r	V
	1	…
	2	…
	3	…

In [0]:
import math 

print('r    V')
for i in range (1, 11) :
    res = (4 / 3) * pi * i * i * i
    print(i, '  ', res)

r    V
1    4.1887902047863905
2    33.510321638291124
3    113.09733552923255
4    268.082573106329
5    523.5987755982989
6    904.7786842338604
7    1436.755040241732
8    2144.660584850632
9    3053.628059289279
10    4188.790204786391

# Question 4

(40 points). In the field of Data Science, data is often formatted as a comma-delimited (CSV) file, where each line in a file corresponds to a field's value. Refer to Chapter 9 (p. 106) for more information on comma-delimited files. To answer this question, you will need to download the file [Assignment1_denton_housing.csv](https://github.com/unt-iialab/INFO5731_Spring2020/blob/master/Assignments/Assignment1_denton_housing.csv) included with this assignment. The [file Assignment1_denton_housing.csv](https://github.com/unt-iialab/INFO5731_Spring2020/blob/master/Assignments/Assignment1_denton_housing.csv) contains statistics about housing in the city of Denton from 2008 to 2014. Write a program to implement the following questions.

(1) (10 pts) Calculate the difference in the number of Occupied Housing Units from year to year and print it. The difference must be calculated for the consecutive years such as 2008-2009, 2009-2010 etc. Finally, print the values in the ascending order.

(2) (10 pts) For all the years, calculate the percentage of housing units which are vacant an occupied. Print the results in the following format:

Year Vacant Housing Units Occupied Housing Units

    2008  30%   70%                          
	2009 ----- -----
	2010 ----- -----
    2011 ----- -----
	2012 ----- -----
    2013 ----- -----
	2014 ----- -----
  
  

(3) (10 pts) Calculate and print the valued and years in which the highest number of housing units were vacant and occupied. Print the results in the following format:  

                              Year	Value
	Vacant Housing Units	  -----   -----
	Occupied Housing Units	-----   -----

(4) (10 pts) Calculate the harmonic mean of the total housing units and print it out. You can find the information about harmonic mean here: https://ncalculators.com/statistics/harmonic-mean-calculator.htm

In [151]:
from google.colab import files
import csv
uploaded = files.upload() 
 
occupiedhouse=[]
vacanthouse=[]
totalhouse=[]


with open('Assignment1_denton_housing.csv', 'r') as csvfile: 
    csvreader = csv.reader(csvfile)
    for row in csvreader:
        if 'Occupied Housing Units' in row:
             occupiedhouse.append(row) 
        elif 'Vacant Housing Units' in row:
             vacanthouse.append(row)
        elif 'Total Housing Units' in row:
              totalhouse.append(row)
        else:
          pass
occupiedhouse.sort()
vacanthouse.sort()
totalhouse.sort()

N = 2
res = [max(i) for i in zip(*vacanthouse)][2]
vres = [max(i) for i in zip(*occupiedhouse)][2]
print("Max value of Nth column is : " + format(res)) 
print("Max value of Nth column is : " + format(vres))

Saving Assignment1_denton_housing.csv to Assignment1_denton_housing (31).csv
Max value of Nth column is : 4483
Max value of Nth column is : 46295