<a href="https://colab.research.google.com/github/mayurijoshi106/mayuri_INFO5731_spring2020/blob/master/Inclass_INFO%205731_MJ/In_class_exercise_01_MJ.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **The first In-class-exercise**

(1) Write a Python program to calculate the length of a string.

In [0]:
i = ("Hello, My name is Mayuri Joshi")
print(len(i))

30

(2) Write a Python program to count the number of characters in a string.

Sample String : 'google.com‘, 

Expected Result : {'o': 3, 'g': 2, '.': 1, 'e': 1, 'l': 1, 'm': 1, 'c': 1}

In [0]:
str1 = "mayuri joshi"
count = {}   
for i in str1: 
    if i in count: 
        count[i] += 1
    else: 
        count[i] = 1

print ("The number of characters in above string :\n "+str(count))

The number of characters in above string :
 {'m': 1, 'a': 1, 'y': 1, 'u': 1, 'r': 1, 'i': 2, ' ': 1, 'j': 1, 'o': 1, 's': 1, 'h': 1}

(3) Write a Python program to sum all the items in a list

In [0]:
mylist = [10, 8, 2]
total = 0
for item in mylist:
  print(item)
  total = total +item
print(total)

10
8
2
20

(4) Write a Python program to get a string from a given string where all occurrences of its first char have been changed to '\$', except the first char itself. 

Sample String : 'restart‘, 

Expected Result : 'resta\$t'

In [16]:
def replace(str1):
#print(str1[0])
  char1 = str1[0]
  str1 = str1.replace(char1, '$')
  str1 = char1 + str1[1:]
  return str1

print(replace('restart'))

resta$t

(5) Write a program with python which could accept two parameter a and b to calculate and output the result of S, where 

$\ S=3.14*(1+a/b)^3$

In [0]:
pi = 3.14
a= input('Input value for  a:')
b= input('Input value for b:')
S= pi*(1+float(a)/float(b)) **3 
print(S)

Input value for  a:2
Input value for b:2
25.12

(6) Write a Python program to concatenate following dictionaries to create a new one. 

Sample Dictionary : dic1={1:10, 2:20}, dic2={3:30, 4:40}, dic3={5:50,6:60}, 

Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [0]:
mydict1 = {1:10,2:20}
mydict2 = {3:30,4:40,5:50,6:60}
mydict3 = {5:50,6:60}
mydict1.update(mydict2)
mydict1.update(mydict3)
print(mydict1)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

(7) Write a Python program to check whether an element exists within a tuple.

In [0]:
mytuple = ("cardinal", "bluejay", "robin")

if "bluejay" in mytuple:
  print ("bluejay exists in mytuple")

bluejay exists in mytuple

(8) Write a Python program to find maximum and the minimum value in a set.

In [0]:
myset = [10, 20, 30, 40]
x = max(myset)
print(x, "This is the maximum value in a set")
z = min(myset)
print(z, "This is the minimum value in a set")

40 This is the maximum value in a set
10 This is the minimum value in a set

(9) Write a Python program to randomly divide the students in this class into four groups for term projects. Here is the students list:

studnet_list = ['sa0753','laa0240','lba0043','pb0283','vmb0067','vcd0017','ag1121','lg0426','mj0396','ak0860','vk0222','vk0216',
                'tpk0023','nk0327','mk0830','tbl0041','al0787','am1823','sm1515','km0738','hn0139','an0521','ap0975','dp1080',
                'pk0292','vp0241','rp0477','hr0178','ps0501','ss1976','ss1872','ss1872','bs0490','pt0218','ry0104']

In [0]:
import random

student_group = ['sa0753','laa0240','lba0043','pb0283','vmb0067','vcd0017','ag1121','lg0426','mj0396','ak0860','vk0222','vk0216', 'tpk0023',
                'nk0327','mk0830','tbl0041','al0787','am1823','sm1515','km0738','hn0139','an0521','ap0975','dp1080', 'pk0292','vp0241',
                'rp0477','hr0178','ps0501','ss1976','ss1872','ss1872','bs0490','pt0218','ry0104']
for i in range(4):
  sampling = random.choices(student_list, k=6)
  student_list = [i for i in student_list if i not in sampling]
  print("Group " +str(i+1)+": ", sampling)

Group 1:  ['ag1121', 'ss1976', 'ak0860', 'ss1872', 'rp0477', 'am1823']
Group 2:  ['ps0501', 'vcd0017', 'laa0240', 'laa0240', 'lg0426', 'lg0426']
Group 3:  ['vk0222', 'pt0218', 'pb0283', 'al0787', 'vk0216', 'mk0830']
Group 4:  ['hn0139', 'an0521', 'ry0104', 'tpk0023', 'an0521', 'dp1080']